body, html {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message{
    width: 80%;
    height: 4%;
    background-color: rgb(193, 193, 249);
    margin: 0.5em auto;
    border: 1px solid;
    border-color: bisque;
    border-radius: 5px;
    padding: 10px;
   font-size: 30px;
}
.message-info{
    background-color: rgb(179, 193, 245);
    color:rgb(38, 3, 152);
}
.message-success{
    background-color: rgb(155, 250, 223);
    color:rgb(2, 102, 20);
}
.message-warning{
    background-color: rgb(218, 238, 152);
    color:rgb(38, 3, 152);
}
.message-error{
    background-color: rgb(243, 162, 162);
    color:rgb(38, 3, 152);
}